body {
  font-family: roboto;
  background-color: #4b4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.business-card {
  width: 300px;
  height: 180px;

  perspective: 1000px;
  position: relative;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.business-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card-front {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-back {
  background-color: #ffffff;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.qr-code {
  width: 145px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.contact {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact a {
  color: #e6388b;
  text-decoration: none;
  font-weight: bold;
  margin-top: 55px;
}

.contact a:hover {
  text-decoration: underline;
}

.logo {
  width: 119px;
  height: 190px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.name {
  display: flex;
  flex-direction: column;
}

.name div {
  font-size: 30px;
  font-weight: 800;
  margin: 3px 0;
}
span {
  font-size: 28px;
  font-weight: 200;
  margin: 3px;
}
